<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="HandheldFriendly" content="True">
<title>MCEdu</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/bootsnav.css" rel="stylesheet" type="text/css" />
<link href="css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="css/screen.css" rel="stylesheet" type="text/css" />
<meta name="description" content="">
<meta name="keywords" content="">
</head>
<body>
<div id="header">
	<div class="container">
	  	<div class="row">
		  	<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 menu">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
					<i class="fa fa-bars"></i>
				</button>
		  	</div>
		  	<div class="col-xs-10 col-sm-8 col-md-6 col-lg-8"><a href="#"><img src="images/logo.gif"></a></div>
		  	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
		  		<ul class="head_link">
		  			<li><a href="#"><img src="images/ico1.gif"></a></li>
		  			<li><a href="#"><img src="images/ico2.gif"></a></li>
		  			<li><a href="#"><img src="images/ico3.gif"></a></li>
		  			<li><a href="#"><img src="images/ico4.gif"></a></li>
		  		</ul>
		  	</div>
		</div>
	</div>
</div>
<div id="main">	
	<picture>
		<source srcset="images/sub_bar.jpg 1x" media="(min-width: 768px)">
		<source srcset="images/sub_bar.jpg 1x">
		<img src="images/sub_bar.jpg" alt="" width="100%">
	</picture>
</div>
<div id="content">
	<div class="container">
		<div class="row">	  
	  		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	  			<div id="side">
	  				<ul class="side_menu">
	  					<li class="n1"><a href="javascript:void(0);" class="targ"><abbr class="s1"></abbr><span>STEM Resources</span></a>
	  						<dl>
	  							<dd><a href="#">Teaching scheme</a></dd>
	  							<dd><a href="#">Workbook answer</a></dd>
	  						</dl>
	  					</li>
	  					<li class="n2"><a href="javascript:void(0);" class="targ"><abbr class="s2"></abbr><span>Unifying concept and Scientific Investigation</span></a>
	  						<dl>
	  							<dd><a href="#">Teaching scheme</a></dd>
	  							<dd><a href="#">Workbook answer</a></dd>
	  						</dl>
	  					</li>
	  					<li class="n3"><a href="javascript:void(0);" class="targ"><abbr class="s3"></abbr><span>Science and Career</span></a>
	  						<dl>
	  							<dd><a href="#">Teaching scheme</a></dd>
	  							<dd><a href="#">Workbook answer</a></dd>
	  						</dl>
	  					</li>
	  					<li class="n4"><a href="javascript:void(0);" class="targ"><abbr class="s4"></abbr><span>Singapore learning materials</span></a>
	  						<dl>
	  							<dd><a href="#">Teaching scheme</a></dd>
	  							<dd><a href="#">Workbook answer</a></dd>
	  						</dl></li>
	  						
	  					<li class="n5"><a href="javascript:void(0);" class="targ"><abbr class="s5"></abbr><span>Classroom Preparation</span></a>
	  						<dl>
	  							<dd><a href="#">Teaching scheme</a></dd>
	  							<dd><a href="#">Workbook answer</a></dd>
	  						</dl>
	  					</li>
	  					<li class="n6"><a href="javascript:void(0);" class="targ"><abbr class="s6"></abbr><span>Interactive Resources</span></a>
	  						<dl>
	  							<dd><a href="#">Teaching scheme</a></dd>
	  							<dd><a href="#">Workbook answer</a></dd>
	  						</dl>
	  					</li>
	  					<li class="n7"><a href="javascript:void(0);" class="targ"><abbr class="s7"></abbr><span>Virtual Learning Experience</span></a>
	  						<dl>
	  							<dd><a href="#">Teaching scheme</a></dd>
	  							<dd><a href="#">Workbook answer</a></dd>
	  						</dl>
	  					</li>
	  					<li class="n8"><a href="javascript:void(0);" class="targ"><abbr class="s8"></abbr><span>Learning Tools</span></a>
	  						<dl>
	  							<dd><a href="#">Teaching scheme</a></dd>
	  							<dd><a href="#">Workbook answer</a></dd>
	  						</dl>
	  					</li>
	  					<li class="n9"><a href="javascript:void(0);" class="targ"><abbr class="s9"></abbr><span>Ebook</span></a>
	  						<dl>
	  							<dd><a href="#">Teaching scheme</a></dd>
	  							<dd><a href="#">Workbook answer</a></dd>
	  						</dl>
	  					</li>
	  					<li class="n10"><a href="javascript:void(0);" class="targ"><abbr class="s10"></abbr><span>Assessment and Self-Directed Learning Center</span></a>
	  						<dl>
	  							<dd><a href="#">Teaching scheme</a></dd>
	  							<dd><a href="#">Workbook answer</a></dd>
	  						</dl>
	  					</li>
	  				</ul>
	  			</div>
	  		</div>
	  		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	  			<div id="main">
	  				<div class="row">
	  					<div class="col-xs-12 col-sm-12 col-md-5 col-md-push-7 col-lg-5 col-lg-push-8">
	  						<div class="m_search"><input type="text" class="input_search" placeholder="Search"><button type="button" class="btn_search"></button></div>
	  					</div>
	  					<div class="col-xs-12 col-sm-12 col-md-7 col-md-pull-5 col-lg-7 col-lg-pull-5"><h2>● Teaching Scheme</h2></div>
	  				</div>	  				
	  				<ul class="m_link1">
	  					<li><a href="#">Book1</a></li>
	  					<li><a href="#">Book2</a></li>
	  					<li><a href="#">Book3</a></li>
	  					<li><a href="#">Book4</a></li>
	  					<li><a href="#">Book5</a></li>
	  					<li><a href="#">Book6</a></li>
	  					<li><a href="#">Book7</a></li>
	  				</ul>
	  				<table class="table1">
	  					<tbody>
	  						<tr>
	  							<td>Text sample Text sample Text sample</td>
	  						</tr>
	  						<tr>
	  							<td>Text sample Text sample Text sample</td>
	  						</tr>
	  						<tr>
	  							<td>Text sample Text sample Text sample</td>
	  						</tr>
	  						<tr>
	  							<td>Text sample Text sample Text sample</td>
	  						</tr>
	  						<tr>
	  							<td>Text sample Text sample Text sample</td>
	  						</tr>
	  						<tr>
	  							<td>Text sample Text sample Text sample</td>
	  						</tr>
	  					</tbody>
	  				</table>
	  			</div>
	  		</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container">
	  <div class="row">
	  	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">&copy; 2018 Marshall Cavendish Education | <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a></div>
	  	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	  		<div class="foot_logo"><a href="#"><img src="images/foot_logo.gif"></a></div>
	  	</div>
		</div>
	</div>
</div>
<nav class="navbar navbar-default navbar-mobile bootsnav">
	<div class="collapse navbar-collapse" id="navbar-menu">
		<ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
			<li class="dropdown m">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">STEM Resources</a>
				<ul class="dropdown-menu">
					<li><a href="#">Teaching scheme</a></li>
					<li><a href="#">Workbook answer</a></li>
				</ul>
			</li>
			<li class="dropdown m">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Unifying concept and Scientific Investigation</a>
				<ul class="dropdown-menu">
					<li><a href="#">Teaching scheme</a></li>
					<li><a href="#">Workbook answer</a></li>
				</ul>
			</li>
			<li class="dropdown m">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Science and Career</a>
				<ul class="dropdown-menu">
					<li><a href="#">Teaching scheme</a></li>
					<li><a href="#">Workbook answer</a></li>
				</ul>
			</li>
			<li class="dropdown m">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Singapore learning materials</a>
				<ul class="dropdown-menu">
					<li><a href="#">Teaching scheme</a></li>
					<li><a href="#">Workbook answer</a></li>
				</ul>
			</li>
			<li class="dropdown m">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Classroom Preparation</a>
				<ul class="dropdown-menu">
					<li><a href="#">Teaching scheme</a></li>
					<li><a href="#">Workbook answer</a></li>
				</ul>
			</li>
			<li class="dropdown m">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Interactive Resources</a>
				<ul class="dropdown-menu">
					<li><a href="#">Teaching scheme</a></li>
					<li><a href="#">Workbook answer</a></li>
				</ul>
			</li>
			<li class="dropdown m">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Virtual Learning Experience</a>
				<ul class="dropdown-menu">
					<li><a href="#">Teaching scheme</a></li>
					<li><a href="#">Workbook answer</a></li>
				</ul>
			</li>
			<li class="dropdown m">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Learning Tools</a>
				<ul class="dropdown-menu">
					<li><a href="#">Teaching scheme</a></li>
					<li><a href="#">Workbook answer</a></li>
				</ul>
			</li>
			<li class="dropdown m">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Ebook</a>
				<ul class="dropdown-menu">
					<li><a href="#">Teaching scheme</a></li>
					<li><a href="#">Workbook answer</a></li>
				</ul>
			</li>
			<li class="dropdown m">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Assessment and Self-Directed Learning Center</a>
				<ul class="dropdown-menu">
					<li><a href="#">Teaching scheme</a></li>
					<li><a href="#">Workbook answer</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootsnav.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</body>
</html>
